html
  head
    title Doon Fantasy League
    link(rel='stylesheet', type='text/css', href='stylesheet.css')
    link(rel='icon', type='image/png', href='logo.png')
  body
    #block
      #about
        h1 MEET THE PIONEERS
        #founder
          img(src='About/Bonda.png')
          #founder_info
            h2 Aaditya Gupta
            span APP FOUNDER
            p
              | As the clock ticks slowly and the 84th edition of the Inter-House Basketball comes closer, our app developing team sits together, compiling and uploading the last few pages of the league's website. It’s a very proud moment for the school community, especially us, as this app is the first of its kind that has been developed by high school boys. I have never heard anything similar come from any other boarding school and take pride in calling ourselves the pioneers in the field. In fact, a month ago we couldn’t have imagined that we would be able to come up with an online game where one could select our domestically-bred basketball stars to compete with each other in a virtual fantasy league. The idea hit me when I was playing basketball one Sunday evening in October. ‘Integrating statistics with the basketball game could make it fairly interesting’ I thought and if we managed to incorporate the Fantasy League Concept into our own Inter-House event, we would bring in higher spectatorship for the sport, increasing the school community’s involvement exponentially.
              br
              br
              |             Getting the idea was a just the beginning, and it was like still a dream. The problem lay in the fact that none of us, Hamza, Saboo or I knew how to code the entire programme. Without Minocha’s contribution it would have been impossible for us to crystallize this idea into reality. He has been a silent worker, quite literally, working on this application day and night, in order to prepare it just in time for the Inter-House matches. Besides Minocha, Hamza and Saboo have also put in endless hours to make create the website and make it as aesthetically appealing as possible. I must also mention Lakshman who took time out from his many committments to assist us with the designing and our official app logo. The experience of leading a team of such versatile people has been an enriching experience. A month was definitely not enough for the completion of such a massive project but we did end up managing it. Be it sitting over the lunch table and discussing the point scheme that had to be implemented or the late nights when we sat down to develop our app logo, every bit of this journey was a memorable and learning experience. 
              br
              br
              |             By the time every Dosco reaches his SC form, he becomes increasingly aware of his limited time in this institution. One last thing that every Dosco wishes to achieve, before leaving the gates of Chandbagh, is to leave behind a legacy. I truly believe that by developing this app and making it a success, I will not only succeed in leaving an impact, but will also establish that very legacy that I can leave behind for the juniors to follow. Such a platform also acts like a pedestal for the upcoming junior talent to showcase their skill on a much wider forum. This app can also be modified a little to be used for next year’s Inter-House Cricket, Hockey and Soccer competitions, making these sporting events very fascinating and interesting to witness. To conclude, I would like to say that The Doon School Fantasy League is going to bring out a revolution in the dynamics on all Inter-House Sports if the school community cooperates with us and participates with the same zeal they show on the court.
        #founder
          img(src='About/Minocha.png')
          #founder_info
            h2 Shreyas Minocha
            span BACK-END PROGRAMMER [App Logic behind the scenes]
            p
              | To be honest, when I was approached by Bonda and Saboo for this project, my primary motivation for deciding to take it up was that I would get an opportunity to exercise and enhance my programming skills. I had never, before that point,  worked on a project of such a massive scale and this proposal seemed to pose some interesting challenges in terms of server-side programming—the user registration and login mechanism, securely storing passwords, working with databases to persist user and player data and coordinating match, user, and player data. As the competition approached, however, I was glad to see the interest the school community showed towards our project and I realised that this was more than just an exercise in programming. When I hit roadblocks, this fact motivated me to keep going. In the end, I’m glad to have been able to get the opportunity to learn all that I have working on this while also having the satisfaction of having contributed to creating a product that will be used and enjoyed by the school community for the coming years.
        #founder
          img(src='About/Saboo.png')
          #founder_info
            h2 Raghav Saboo
            span FRONT-END PROGRAMMER [Visual layout on the screen]
            p
              | To be honest, I still can’t believe that we have successfully completed the project. I was always under the fear that this would turn out to be one of those well thought concepts with immense potential which never really grew beyond the planning stages. As an SC former in the penultimate days of my school life, I am eager to pay back to the school community. Besides that, the fantasy league seemed to be a great learning opportunity in itself. The never-ending work sessions where we would be seen negotiating the prices of all the players or just fixing the front-end font, each event was memorable in itself. The experience was not only rewarding but also enlightening. I hope the league recognises our very own in-house champions, giving them yet another platform to shine on.
        #founder
          img(src='About/Hamza.png')
          #founder_info
            h2 Hamza Hussain
            span FRONT-END PROGRAMMER [Visual layout on the screen]
            p
              | Fantasy Leagues are something that have always enticed numerous people from our generation from the very beginning, and the enthusiasm shown by the people towards it has only increased exponentially. The idea of having a league of our own not only gives an incentive to the players to perform better, but also involves a lot more people in the sport who weren’t directly involved earlier. This app, to us, as programmers, brought up a lot of hindrances but the constant interest shown by the school community only pushed us further into developing it. We wanted to materialize something that could live up to the expectations of our peers who have only known of the fantasy leagues that exist currently. Considering the paucity of time, we have come up with this app, hoping that it will live up to their expectations and will set a legacy ahead.
        #founder
          img(src='About/Lucky.png')
          #founder_info
            h2 Lakshman Santhanam
            span DESIGNER
            p
              | Working along the DFL team, I was able to witness the creation of a database not many people thought were possible in such a major crunch of time and with so many activities happening in school already. As the designer of this app, I enjoyed working with images of players I knew first-hand. That kind of personal touch made my tasks more interesting, resulting in a variety of design templates. Working for such a hard working team has been a privilege and I had my apprehensions at first. Though, the results speak for them, and I hope that all the users enjoy the experience.
              br
              br
              |             #Let_the_games_begin
        #thanks
          img(src='About/team.jpg')
          span#italic The Fantasy League Team
          h1 VOTE OF THANKS
          p
            | I would like to extend my vote of thanks to the entire school community for showing such a great deal of enthusiasm and zeal for this app. Their constant support kept us going and helped us achieve our goal just in time for the event. I would also like to thank all the masters who helped us with their valuable inputs and assistance in making this, “an all boys production,” a success. I would like to thank Ms.Stuti Kuthiala for providing us with the necessary amenities that we demanded at such short notices. I would also like to thank the headmaster, ADN, AKS, JTR and ASH for showing faith in our efforts and helping us in their respective fields. Special thanks are due to our mentor, and chief critic, Mr. Arun Bhatt who helped us like an unofficial master-in-charge and made sure that the pioneers succeeded.
        #sign
          img(src='sign.png')
