doctype html
html
  head
    title Doon Fantasy League
    link(rel='icon', type='image/png', href='logo.png')
    link(rel='stylesheet', type='text/css', href='stylesheet.css')
  body
    footer
      .footer
        .footerimageleft
          img(src='logo_final.png')
          p.footertextleft Doon Fantasy League
        .footertextcenter
          ul
            a(href='team.html')
              li Home
            | |
            a(href='rules.html')
              li Rules
            | |
            a(href='polls.html')
              li Polls
            | |
            a(href='about.html')
              li About
        .footerimageright
          img(src='school.png')
          p.footertextright A Doon School Production
