doctype html
html
  head
    title Doon Fantasy League
    link(rel='icon', type='image/png', href='logo.png')
    link(rel='stylesheet', type='text/css', href='stylesheet.css')
  body
    nav
      ul
        li.dif
          img(src='logo_final.png')
        a(href='team.html')
          li Home
        a(href='teamoftheday.html')
          li Today's Team
        a(href='thescout.html')
          li Scout's Team
        a(href='leaderboard.html')
          li Leaderboard
        a(href='poll.html')
          li Poll
        a(href='settings.html')
          li Settings
