html
  head
  body
    doctype(html='')
      link(rel='stylesheet', type='text/css', href='stylesheet.css')
      link(rel='icon', type='image/png', href='logo.png')
      title Doon Fantasy League
      #boardholder
        #board
          h1.ontop Top 10
          span#tag Best Of The Best
          table
            tbody
              tr
                th
                    a(href='') Pos.
                th
                    a(href='') Name
                th
                    a(href='') House
                th
                    a(href='') Price
                th
                    a(href='') Assists
                th
                    a(href='') Blocks
                th
                    a(href='') Steals
                th
                    a(href='') Fouls
                th
                    a(href='') Fouled Out
                th
                    a(href='') Points
                th
                    a(href='') Composite Score
                th
                    a(href='') MVP Rating
              tr
                td 1
                td Lakshman Santhanam
                td H
                td 14
                td 10
                td 8
                td 4
                td 3
                td No
                td 24
                td 76
                td 3.2
              tr
                td 2
                td Lakshman Santhanam
                td H
                td 14
                td 10
                td 8
                td 4
                td 3
                td No
                td 24
                td 76
                td 3.2
              tr
                td 3
                td Lakshman Santhanam
                td H
                td 14
                td 10
                td 8
                td 4
                td 3
                td No
                td 24
                td 76
                td 3.2
              tr
                td 4
                td Lakshman Santhanam
                td H
                td 14
                td 10
                td 8
                td 4
                td 3
                td No
                td 24
                td 76
                td 3.2
              tr
                td 5
                td Lakshman Santhanam
                td H
                td 14
                td 10
                td 8
                td 4
                td 3
                td No
                td 24
                td 76
                td 3.2
              tr
                td 6
                td Lakshman Santhanam
                td H
                td 14
                td 10
                td 8
                td 4
                td 3
                td No
                td 24
                td 76
                td 3.2
              tr
                td 7
                td Lakshman Santhanam
                td H
                td 14
                td 10
                td 8
                td 4
                td 3
                td No
                td 24
                td 76
                td 3.2
              tr
                td 8
                td Lakshman Santhanam
                td H
                td 14
                td 10
                td 8
                td 4
                td 3
                td No
                td 24
                td 76
                td 3.2
              tr
                td 9
                td Lakshman Santhanam
                td H
                td 14
                td 10
                td 8
                td 4
                td 3
                td No
                td 24
                td 76
                td 3.2
              tr
                td 10
                td Lakshman Santhanam
                td H
                td 14
                td 10
                td 8
                td 4
                td 3
                td No
                td 24
                td 76
                td 3.2
          button#up <
          button#down >
