html
  head
    meta(charset='utf-8')
    title Doon Fantasy League
    link(rel='stylesheet', type='text/css', href='stylesheet.css')
    link(rel='icon', type='image/png', href='logo.png')
  body
    #block
      .player_stats
        .slide2
          #text
            img#logo(src='House Logos/o.png')
            h2 Player Name
            span Oberoi House
            br
            table
              tbody
                tr
                  th Price
                  th Points
                  th Fouls
                  th Composite
                  th MVP
                tr
                  td 0.0
                  td 0.0
                  td 0.0
                  td 0.0
                  td 0.0
