doctype html
html
  head
    title Doon Fantasy League
    link(rel='icon', type='image/png', href='logo.png')
    link(rel='stylesheet', type='text/css', href='stylesheet.css')
  body
    #scout
      span Poll
    #intro
      p
        | The following are the results for the polls that were conducted last week over mail. A total of 221 responses were received from the Dosco community. We would like to thank everyone for their co-operation.
    #block
      #poll
        img(src='Poll/1.png')
      #poll
        img(src='Poll/2.png')
      #poll
        img(src='Poll/3.png')
      #poll
        img(src='Poll/4.png')
      #poll
        img(src='Poll/5.png')
      #poll
        img(src='Poll/6.png')
      #poll
        img(src='Poll/7.png')
      #poll
        img(src='Poll/8.png')
      #poll
        img(src='Poll/9.png')
      #poll
        img(src='Poll/10.png')
      #poll
        img(src='Poll/11.png')
      #poll
        img(src='Poll/12.png')
      #poll
        img(src='Poll/13.png')
    footer
      br
      a(href='team.html') Home
      |  
      a(href='About.html') About
      |  
      a(href='Leaderboard.html') Leaderboard
      |  
      a(href='Rules.html') Rules
      |  
      a(href='poll.html') Polls
      p.footertextright A Doon School Production
      p.footertextleft The Doon Fantasy League
      img.footerimageright(src='school.png')
      img.footerimageleft(src='logo_final.png')
